<footer>
    <p><i class="fa-regular fa-copyright"></i> MakerSpace</p>
    <a href = "/contact"><p> Contact </p></a>
    <a href = "/about"><p> About </p></a>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
  </footer>
</body>
</html>