<%- include('./partials/header.ejs') %>  
    <main id = "landing-content">
        <h1>About MakerSpace</h1>
        <p id= "makerspace-description">MakerSpace is a non-profit collaboration platform for makers in the Charlotte, NC area. MakerSpace hosts a variety of maker oriented community event led by knowledgable figures in the maker community. MakerSpace is run for makers, by makers who understand the impact local community engagement has on individual creativity and growth.</p>
    </main>
  <%- include('./partials/footer.ejs') %>
