<%- include('./partials/header.ejs') %>  
    <main id = "landing-content">
        <h1>Contact Us</h1>
        <div id ="contact-info">
            <h2> Address: 9201 University City Blvd, Charlotte NC 28223</h2>  
            <h2> Phone: (123) 231-1234 </h2> 
        </div>
    </main>
  <%- include('./partials/footer.ejs') %>
