  
  <%- include('./partials/header.ejs')%>
    <main id = "landing-content">
      <div id = "intro-container">
        <div id = "title">
          <h1>MakerSpace</h1>
          <h3>Meet.Make.Repeat</h3>
        </div>
        <div id = "description">
          <p>MakerSpace is your home for workshops, seminars, and meetups with your fellow makers in the charlotte area.</p>
          <p>Ready to check out what's happening soon? Click the events button to find out!</p>    
        </div>
      </div>
    </main>
 <%- include('./partials/footer.ejs')%>
